body{
    text-align: center;
    background-color: grey;
}
.product-box{
    background-color: white;
    width: 410px;
    height: 600px;
    margin: 1px auto;
    border: 3px solid rgb(252, 0, 0);
    padding: 5px;
}
img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
}
button{
    background-color: rgb(79, 79, 181);
    padding: 10px;
    border-radius: 10px;
}
