body {
  background-color:gray;
  text-align: center;
}

h1 {
  color: black;
  margin-top: 20px;
}

.product-card {
  background-color: white;
  width: 300px;
  margin: 50px auto;
  border: 3px solid rgb(231, 10, 10);
  border-radius: 10px;
  padding: 20px;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-card p{
  font-size: 15px;
}

.price {
  color: red;
  font-weight: bold;
  margin: 10px 0;
}

button {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

