body{ font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    background-color: #eee8e8;

}

.container{
    display: flex;
    flex-direction: column-reverse;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
}

.box {
    background-color: green;
    color: white;
    padding: 20px;
    text-align: centre;
    border-radius: 5px;
}
.box1 { background-color: blue;}
.box2 { background-color: rgb(58, 225, 191);}
.box3 { background-color: rgb(164, 118, 37);}
.box4 { background-color: rgb(230, 34, 47);}
.box5 { background-color: rgb(128, 211, 18);}