* {
margin: 0px;
font-family:Arial ;
border: border-box;
}
.navbar{
    height: 60px;
    background-color:black;
    color:white;
    display:flex;
    align-items: center ;
    justify-content: space-evenly
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    width:  100px;
    height: 50px;
}
.navlogo{  
    height:50px;
    width:100px;
}
.add1{
    margin-left: 17px;
    color: rgb(149, 155, 160);
}
.add2{
    color: rgb(255, 255, 255)
} 
.fa-solid.fa-location-dot{
    font-size: 20px;
}
.Deliver{
    display: flex; 
}
.navaccount{
    display: block;
}
.navreturn{
    display: block;
}
.searchbar{
    width: 500px;
    height: 30px;
    border: none;
    font-size: large;
    
}
.fa-solid.fa-magnifying-glass{
    display: flex;
    background-color: rgb(255, 208, 0);
    border-bottom-right-radius:px;
    border-top-right-radius:px;
    width: 45px;
    justify-content:center;
    align-items: center;
    font-size: larger;


}

.selecticon{
    border: none;
    text-align: center;
    background-color: rgb(230, 234, 237);
    
}
.navsearch{
    justify-content: space-evenly ;
    margin-left: 4px;
    display: flex;
    border: 2px solid orange; 
    border-radius: 4px;
   
}
.navaccount{
    font-weight: 700;
}
.navreturn{
    font-weight:700;
}
.navcart{
   font-size: 35px;
   margin-right: 5px;
}
.nav-cart{
    font-weight: 700;
  
}
.panel{
    height: 30px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content:  space-evenly;
}
.panel-all{
    color: #FFFFFF;
    font-weight: 950;
}
.panel-option{ 
     display: flex;
     color: white;
     justify-content: space-evenly;
    
}
.display{
   display: inline;
   margin-right: 8px;
    
}
.fa-solid.fa-list{
    margin-left: 10px;
    font-size: 20px;
    align-content: center;
}
.panel-menu{
    align-content: center;
    margin-right: 10px;
}
.hero-section{
    background-image: url(Assories.jpeg);
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end  ;
    
}
.hero-msg{
    width: 900px;
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    height: 40px;
    display: inline;
    text-align: center;
    align-content: center;
    font-size: 0.85rem;
    margin-bottom: 10px;
}
.shop-section{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 20px;
    background-color: rgb(233, 235, 236);

}
.box{
    margin-top: 10px;
    width: 23%;
    background-color: white ;
    height: 400px;
    padding: 20px 0px 5px;
}
.box1img{
   height: 365px;
   background-size: cover;
}
.box2img{
    height: 365px;
    background-size: cover;
}
.box3img{
    height: 366px;
    background-size: cover;
}
.box4img{
    height: 365px;
    background-size: cover;
}
.box5img{
    height: 365px;
    background-size: cover;
}
.box6img{
    height: 365px;
    background-size: cover;
}
.box7img{
    height: 365px;
    background-size: cover;
}
.box8img{
    height: 365px;
    background-size: cover;
}
.box1content{
    margin-left: 10px;
    margin-right:10px
} 
.footer{
    margin-top:15px;
    color: rgb(255, 255, 255);
}
.foot-panel1{
    height:50px;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: #37435a;
    
}
.foot-panel2{
    
    background-color:#222f3d;
    height:300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 30px;
}
ul a{
    display: block;
    margin-block: 10px;
}
ul p{
    font-weight: 900;
}
.footer3{
    background-color:#222f3d;
    border-top:#FFFFFF solid .5px;
    display:flex;
    height: 70px;
    justify-content:center;
    align-items:center; 
}
.logo{
    background-image: url(Screenshot\ 2026-01-04\ 192652.png);
    background-size: cover;
    width:  100px;
    height: 50px;
}
.footer4{
    height:52px;
    background-color:#19222c;
    font-size: smaller;
}
.pages{
    display:flex;
    justify-content:center;
}
.pages a{
    margin: 8px;
}
.copyrights{
    display:flex;
    justify-content: center;
}