#container1{
    height: 400px;
    width: 500px;
    background-color: rgb(153, 30, 30);
    position: relative;
    left: 350px;
}

#container2{
    height: 200px;
    width: 500px;
    background-color: rgb(23, 23, 148);
    position: absolute;
    top: 100px;
}

#circle{
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 150px;
    top: 25px;
}

h2{
    position:relative;
    left: 500px;
}